@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color--primary: #000000;
    --color--secondary: #f6f6f6;
    --color--tertiary: #22d4fd;
    --color--hover:#272727;

    --font--primary:'Krona One', sans-serif;
    --font--secondary:'Montserrat', sans-serif;
}

*{
    margin:0;
    padding: 0;
}

body {
    box-sizing:border-box;
    background-color: var(--color--primary);
    color: var(--color--secondary);
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__buttons {
    font-family: var(--font--secondary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color--tertiary);
    text-decoration: none;
}

.presentation {
    padding: 5.64% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 82px;
}

.presentation__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;    
}

.presentation__text__title {
    font-size: 2.25rem;
    font-family: var(--font--primary);
    font-weight: 400;
}

.eTitle {
    color: var(--color--tertiary);
}

.presentation__text__paragraph {
    font-size: 1.5rem;
    font-family: var(--font--secondary);
    font-weight: 400;
    line-height: 36px;
}

.presentation__text__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.presentation__text__subtitle {
    font-family: var(--font--primary);
    font-weight: 400;
    font-size: 1.5rem;
}

.presentation__text__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color:var(--color--secondary);
    border: 2px solid var(--color--tertiary);
    text-align: center;
    width: 50%;
    border-radius: 8px;
    padding: 22px 0;
    font-size: 1.5rem;
    font-family: var(--font--secondary);
    font-weight: 600;
    text-decoration: none;
}

.presentation__text__buttons:hover {
    background-color: var(--color--hover);
}

.presentation__image {
    width: 50%;
}

.baseboard {
    padding: 24px;
    color: var(--color--primary);
    background-color: var(--color--tertiary);
    font-family: var(--font--secondary);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.certificate {
    text-decoration: none;
    color: var(--color--tertiary);
}

@media (max-width: 760px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }

    .presentation__text {
        width: auto;
    }
}